
body *, .btn{
  font-size: 1.5vh;
}
select{
  height: 2.5vh;
  padding:0;
  margin:0;
}

/*
HROZONTAL pannel
*/
#newShape{
  height: 2vh;
  padding-top:0;
}
.row.context, .separator{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*
SETTING pannel
*/
.col-5{
  padding-left: 10px;
  padding-right: 5px;
}
.detail{
  height: 100vh;
}
.card-body{
  height: 5vh;
  padding:0;
  margin:0;
}
.card-body label, input, select{
  height: 2vh;
  padding:0;
  margin:0;
}
.card-body.color, .card-body.style, .card-body.position{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*
BLOCK OF shapes
*/
.board{
  padding-top: 10%;
  padding-left: 10%;
}
/*
default colors of shapes
*/


/*
background grid
*/
#boardOfShapes {
  background:
  linear-gradient(-90deg, rgba(0,0,0,.03) 1px, transparent 1px),
  linear-gradient(rgba(0,0,0,.03) 1px, transparent 1px),
  linear-gradient(-90deg, rgba(0, 0, 0, .05) 1px, transparent 1px),
  linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px);
  background-size:
  1% 1%,
  1% 1%,
  10% 10%,
  10% 10%;
}


/*.square {
height: 50px;
width: 50px;
background-color: #555;
}
.circle {
height: 50px;
width: 50px;
background-color: #555;
border-radius: 50%;
}
.oval {
height: 50px;
width: 100px;
background-color: #555;
border-radius: 50%;
}
.rectangle {
height: 50px;
width: 100px;
background-color: #555;
}
.trapezoid {
border-bottom: 50px solid #555;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
height: 0;
width: 125px;
}
.parallelogram {
width: 100px;
height: 50px;
transform: skew(20deg);
background: #555;
}
.triangle-up {
width: 0;
height: 0;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-bottom: 50px solid #555;
}
.triangle-down {
width: 0;
height: 0;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-top: 50px solid #555;
}
.triangle-left {
width: 0;
height: 0;
border-top: 25px solid transparent;
border-right: 50px solid #555;
border-bottom: 25px solid transparent;
}
.triangle-right {
width: 0;
height: 0;
border-top: 25px solid transparent;
border-left: 50px solid #555;
border-bottom: 25px solid transparent;
}
.arrow {
border: solid black;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
border
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}

.up {
transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
}

.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}
*/
